<div id="documents">
  <% for document in @documents %>
    <%= erb :'documents/_document', locals: { document: document } %>
  <% end %>
</div>

<%= will_paginate @documents, :previous_label => "&laquo; Precedenti", :next_label => "Prossimi &raquo;"  %>