<%= error_messages_for 'author' %>

<!--[form:author]-->
<p><label for="author_name">Name</label><br/>
<%= text_field 'author', 'name'  %></p>

<p><label for="author_id_sbn">Id sbn</label><br/>
<%= text_field 'author', 'id_sbn'  %></p>
<!--[eoform:author]-->

