<%= erb :_author_initials %>

<p>
  La Biblioteca dell&rsquo;Accademia raccoglie circa 10.000 titoli. Buona parte di essi datano dal 1500 al 1800. Trattasi dunque di fondo librario per lo pi&ugrave; antico a tema esclusivamente teatrale. Tale fondo &egrave; stato totalmente informatizzato in SBN (Sistema Bibliotecario Nazionale) ed &eacute; quindi  consultabile attraverso l&rsquo;Opac di SBN, o l&#39;Opac della Regione Lombardia per quel che concerne i titoli teatrali contenuti nelle riviste del &#39;900.
</p>

<p>
  È stato predisposto inoltre l&#39;accesso diretto all&#39;Archivio della Biblioteca usufruendo delle potenzialit&agrave; informatiche e del web. Sono disponibili in queste pagine i seguenti servizi di consultazione:
</p>

  <ol>
    <li><em>ricerca dei titoli per parole chiave</em>: sar&agrave; sufficiente digitare una parola del titolo, il cognome dell&rsquo;autore o il nome dell&rsquo;editore o qualsivoglia altra parola contenuta per ottenere l&rsquo;elenco delle schede che contengono quella parola</li>
    <li><em>ricerca avanzata</em> per nome dell&rsquo;autore, titolo, editore, anno, luogo di edizione, marca tipografica, ecc.<em> </em></li>
    <li><em>possibilit&agrave; di  leggere direttamente alcune opere del &lsquo;500 trasferite su CD</em> (ancora in preparazione).      </li>
  </ol>

  <p>Per la consultazione diretta delle opere presenti nella Biblioteca &egrave; prevista, su richiesta degli interessati, l&rsquo;apertura al pubblico previo appuntamento telefonico o via mail. Non sono consentiti prestiti. </p>

  <p>Le schede relative alle opere contenute nella Biblioteca, si riferiscono prevalentemente alla catalogazione cos&igrave; come essa appare sia nell&#39;Opac di Sbn, che nell&#39;Opac della Regione Lombardia, ma con alcune migliorie.</p>

  <p>Le note relative alla catalogazione delle opere del &#39;500 sono state redatte attraverso la consultazione dei seguenti testi:</p>

  <ul>
    <li>Mauda Bregoli Russo: Renaissance Italian Theater Joseph Regenstein, Library of the University of Chicago, Olschki 1984</li>
    <li>Louise George Clubb: Italian Plays in the Folger Library, Firenze Olschki 1968</li>
    <li>Allacci: Drammaturgia di Lione accresciuta e continuata fino all&#39;anno MDCCLV, Venezia presso Giambattista Pasquali, 1755</li>
    <li>Le edizioni italiane del XVI secolo - censimento nazionale - a cura dell&#39;ICU, Istituto per il Catalogo Unico dell Bibliioteche Italiane.</li>
    <li>Sandro Piantanida, Autori italiani del  &#39;600, Pubblicato da Libreria Vinciana, 1948</li>
    <li>Laura Cairo, Piccarda Quilici, Biblioteca teatrale dal &#39;500 al &#39;700, la raccolta dellla biblioteca casantense, ed. Bulzoni, 2 vv.</li>
    <li>G. Petronio, L&#39;attivit&agrave; letteraria in Italia. Firenze, Palumbo 1979    </li>
    <li>Enciclopedia Universale Treccani</li>
    <li>Dizionario Biografico degli Italiani di Treccani (fino alla lettera E)</li>
    <li>Il Teatro del &#39;500, vol. I di R. Ricciardi, 1988</li>
    <li>Bibliographie Universelle (Michaud)</li>
    <li>E. Vaccaro: Le marche dei tipografi ed editori italiani de secolo XVI nella Biblioteca Angelica di Roma, Firenze Olschki 1983</li>
    <li>G. Zappella: Le marche dei tipografi e degli editori itanini del cinquecento, Milano, la Bibliografica 1986</li>
    <li>G. De Antonellis, Le marche nel libro rinascimentale</li>
  </ul>



