<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      Biblioteca della Accademia dei Filodrammatici <%= "&mdash; #{h(@page_title)}" if @page_title %>
    </title>
    <link rel="stylesheet" href="http://accademiadeifilodrammatici.it/css/css.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet"> 
  </head>
  <body>
    <table width="900" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <img src="/images/mc/0_pixel.gif" alt="" width="50" height="1" />
        </td>
        <td>
          <img src="/images/mc/0_pixel.gif" alt="" width="200" height="10" />
        </td>
        <td width="0%"></td>
        <td width="100%"></td>
      </tr>
      <tr>
        <td align="right" valign="bottom"></td>
        <td valign="bottom">
          <img src="/images/mc/0_pixel.gif" alt="" width="1" height="20" />
        </td>
      </tr>
      <tr  class="bannerTR" >
        <!-- Banner SX -->
        <td colspan="3" class="bannerTdSx" align="center" valign="middle" onmouseup="document.location='http://www.accademiadeifilodrammatici.it'" ><a href="http://www.accademiadeifilodrammatici.it"><img alt="Home" src="http://accademiadeifilodrammatici.it/biblio/logoAccademia_biblio.png" width="250" height="68" border="0"></a></td>
        <!-- Banner SX END-->
        <td id="banner" valign="bottom" colspan="2"  width="750" height="100">
          <h1><a href="http://www.accademiadeifilodrammatici.it">Accademia dei Filodrammatici</a></h1>
        </td>
      </tr>
      <tr>
        <td align="center">
          <img src="/images/mc/0_pixel.gif" alt="" width="1" height="10" />
        </td>
        <td  align="right" valign="top" bgcolor="#000">
          <!-- Menu-news -->
          <!-- Menu-news END-->
        </td>
        <td align="center">
          <img src="/images/mc/0_pixel.gif" alt="" width="25" height="1" />
        </td>
        <td width="100%" align="center">
          <img src="/images/mc/0_pixel.gif" alt="" width="1" height="10" />
        </td>
      </tr>
      <tr>
        <td align="right" valign="top">
          <img src="/images/mc/0_pixel.gif" alt="" width="1" height="230" />
        </td>
        <td align="right" valign="top" bgcolor="#20ACDA" class="sideBarBiblio">
          <table width="100%" border="0"  cellspacing="0" cellpadding="0" align="right">
            <tr>
              <td height="240">
                <img src="/images/mc/0_pixel.gif" alt="" width="1" height="1" />
              </td>
              <td align="right" valign="top">
                <!-- Menu sez List -->
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <% for item in sidebar_menu_items %>
                  <tr>
                    <td>
                      <img src="/images/mc/0_pixel.gif" alt="" width="1" height="8" />
                    </td>
                  </tr>
                  <tr>
                    <td align="center" class="menubianco">
                      <%= link_to_unless_current item.first.upcase, item.last, :class => "menubianco" %>
                    </td>
                  </tr>
                  <% end %>
                  <tr>
                    <td align="center">
                      <img src="/images/mc/0_pixel.gif" alt="" width="1" height="2" />
                    </td>
                  </tr>
                </table>
                <!-- Menu sez List END-->
              </td>
              <td>
                <img src="/images/mc/0_pixel.gif" alt="" width="1" height="1" />
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <img src="/images/mc/0_pixel.gif" alt="" width="1" height="50" />
              </td>
            </tr>
          </table>
        </td>
        <td></td>
        <td align="left" valign="top" class="tabellaInner">
          <%= yield %>
        </td>
      </tr>
      <tr>
        <td align="right" valign="top"></td>
        <td align="right" valign="top" class="lastTdSide" bgcolor="#000" height="100">
          &nbsp;
        </td>
        <td colspan="2" align="left" valign="bottom" class="menubianco">
          <table width="100%" border="0" cellpadding="1" cellspacing="0" bgcolor="#AFAEAE">
            <tr>
              <td>
                <img src="/images/mc/0_pixel.gif" alt="" width="5" height="1" />
              </td>
              <td width="100%" nowrap="nowrap" class="footer">
                &copy; 2007-2011&nbsp;Accademia dei Filodrammatici - Via Filodrammatici 1 - 20121 Milano - Tel. 02.86460849 - Fax 02.86910551
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="right" valign="top" ></td>
        <td class="dida" align="left" valign="top">Progetto grafico MediaCompass.com</td>
        <td colspan="2" class="dida" align="right">Biblioteca online software di <a href="http://matteo.vaccari.name/" class="dida">Matteo Vaccari</a></td>
      </tr>
    </table>
  </body>
</html>
