<h1>Diplomati</h1>
<%= link_to 'nuovo diplomato/a', :controller => 'graduates', :action => 'new' %>

<%= render :partial => 'years_and_initials' %>

<%= @content.body %>
<br />
<%= link_to 'modifica testo', :controller => 'content', :action => 'edit', :id => @content if authorized? %>

