<h1>Nuovo diplomato/a</h1>

<%= form_tag({:action => 'create', :id => @graduate}, {:multipart => true}) %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'index' %>
