<%= error_messages_for 'content' %>

<!--[form:content]-->
<p><label for="content_title">Title</label><br/>
<%= text_field 'content', 'title'  %></p>

<p><label for="content_name">Name</label><br/>
<%= text_field 'content', 'name'  %></p>

<p><label for="content_body">Body</label><br/>
<%= text_area 'content', 'body'  %></p>

<p><label for="content_image_url">Image url</label><br/>
<%= text_field 'content', 'image_url'  %></p>
<!--[eoform:content]-->

