body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
}

a.menubianco:hover {
	text-decoration: underline;
}

#documents {
  width: 80%;
}
#documents p {
  margin: 0pt;  
}
#documents div {
  margin: 2em 0em;  
}
.document-author {
  font-weight: bold;
}

.document-collocation {
  font-weight: bold;
}