body {
  margin: 4px;
  color: black;
  background: white;
}

p, blockquote, li, h1, h2, h3, h4, td {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #595959;
  font-size: 10pt;
}

img {
  border: 0px;
}

/* structure */
td#head, td#content {
  text-align: left;
}

td#navigation {
  width: 15em;
  text-align: left;
  vertical-align: top
}

td#pic {
  width: 499px;
  height: 251px;
}

div#page {
  vertical-align: top;
}

/* end structure */ 
