body {
  margin: 4px;
  color: black;
  background: white;
}

p, blockquote, li, h1, h2, h3, h4, td {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #595959; /* classy gray */
  font-size: 10pt;
}

h1, h2, h3, h4 {
	color: #BF982E; /* sepia */
}

img {
  border: 0px;
}

div#page {
  vertical-align: top;
}

#head td {
  padding-right: 1em;
}

#head td, td#content {
  text-align: left;
}

td#content {
  width: 700px;
  border-color: #fff300;
  border-width: 2px 0 0 2px;
  border-style: solid;
  margin-left: 0;
  padding: 2em;
}

/* navigation */
td#navigation {
  width: 15em;
  text-align: left;
  vertical-align: top;
}

#navigation ul {
  margin: 0 0 1em 0;
  padding-left: 1em;
}

#navigation li {
  list-style: none;
}

#menuitem-current {
  display:  block;
  white-space: nowrap;
  background: url(/images/menuitem-bg.png) repeat-x left top;
  padding: .1em .2em .2em 1em;  
}

#navigation a {
  white-space: nowrap;
  text-decoration: none;
  display: block;
  background: url(/images/menuitem-bg.png) repeat-x left top;
  padding: .1em .2em .2em 1em;
  /* stacca il menuitem da destra */
  margin: .3em 2em 0 0;
}

#navigation a:hover {
  text-decoration: underline;
}

#submenu-storico {
  display: none;
}
/* end navigation */ 

/* begin forms */
fieldset {
  margin: 1em 0;
}

label {
  margin: 0 0 0 1em;
}
/* end forms */

/* static content pages */
/* questi funzionano solo se si carica un file js apposta */
#the-verbose-content {
  column-count: 2;
  column-gap: 30px;
}
#the-verbose-content #realcont {
  column-count: 2;
  column-gap: 30px;
}
/* end static content pages */
