body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
}

a.menubianco:hover {
	text-decoration: underline;
}

#documents {
  width: 80%;
}
#documents p {
  margin: 0pt;
}
#documents p.document_type {
  margin: 1em 0;
}
#documents div {
  margin: 2em 0em;
}
.document-author {
  font-weight: bold;
}

.document-collocation {
  font-weight: bold;
}

form.search input, form.search select {
  margin: 0 0 1em 0;
}

form.search td {
  padding-right: 1em;
}

#banner {
  text-align: center;
}

#banner a {
  text-decoration: none;
  font-weight: normal;
  font-size: 150%;
  color: #fff;
}

td#banner {
background-image: url("http://www.accademiadeifilodrammatici.com/biblio/bgHeader-biblio.jpg");
}

tr.bannerTR,td#banner {
    background-color: transparent;
}

td.sideBarBiblio{
  background-color: #000;
}