<%= error_messages_for 'news' %>

<p><label for="news_title">Title</label><br/>
<%= text_field 'news', 'title'  %></p>

<p><label for="news_body">Body</label><br/>
<%= text_area 'news', 'body'  %></p>

<p><label for="news_created_at">Data</label><br/>
<%= date_select 'news', 'created_at'  %></p>

