<h2>Modifica notizia</h2>

<%= start_form_tag :action => 'edit' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Modifica" %>
<%= end_form_tag %>

<%= link_to 'Torna indietro', :action => 'index' %>
