<div id="documents">
<%= render :partial => 'document', :collection => @documents %>
</div>

<%= link_to 'Precedenti', params.merge(:page => @document_pages.current.previous) if @document_pages.current.previous %>
<%= pagination_links @document_pages, :params => params %>
<%= link_to 'Prossimi', params.merge(:page => @document_pages.current.next) if @document_pages.current.next %> 
