<div id="documents">
<%= render :partial => 'document', :collection => @documents %>
</div>

<%= will_paginate @documents, :previous_label => "&laquo; Precedenti", :next_label => "Prossimi &raquo;"  %>