
<%= render :partial => "author_initials" %>

<%= @content.body %>
<% if authorized? %>
  <%= admin_link_to 'modifica testo', :controller => 'content', :action => 'edit', :id => @content %>
  |
  <%= admin_link_to 'inserisci nuovo documento', :controller => 'documents', :action => 'new' %>
  |
  <%= admin_link_to 'inserisci nuovo autore', :controller => 'authors', :action => 'new' %>
<% end %>