
<%= render :partial => 'author_initials' %>

<h3><%=h @page_title %></h3>

<div id="documents">
<%= render :partial => 'document', :collection => @documents %>
</div>

<%= link_to 'Previous page', { :page => @document_pages.current.previous } if @document_pages.current.previous %>
<%= pagination_links @document_pages %>
<%= link_to 'Next page', { :page => @document_pages.current.next } if @document_pages.current.next %> 

