<h3><%=h @page_title %></h3>

<% form_tag({}, :method => 'get') do %>
  <% @centuries.each do |roman| %>
    <%= radio_button_tag("secolo", roman, params[:secolo] == roman) + roman %>&nbsp;&nbsp;
  <% end %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "Cerca" %>
<% end %>

<% if @documents %>
  <%= render :partial => "list" %>
<% end %>