
<p class='document-title'><%= @document.title %></p>
<% for author in @document.authors %>
  <p class='document-authors'><%= author.name %></p>
<% end %>
<p class='document-publication'><%= @document.publication %></p>

