<h1>Modifica docente</h1>

<% form_tag({:action => 'update', :id => @teacher}, {:multipart => true}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Modifica' %>
<% end %>

<%= link_to 'Annulla', :action => 'show', :id => @teacher %> |
<%= link_to 'Torna alla lista', :action => 'list' %>
