<h1>Modifica docente</h1>

<%= start_form_tag({:action => 'update', :id => @teacher}, {:multipart => true}) %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Modifica' %>
<%= end_form_tag %>

<%= link_to 'Annulla', :action => 'show', :id => @teacher %> |
<%= link_to 'Torna alla lista', :action => 'list' %>
