
<h3 id="teacher-name"><%= @teacher.name %></h3>

<%= image_tag url_for_file_column(@teacher, "image"), 
      :alt => '', :id => 'teacher-portrait' if @teacher.image %>

<strong>Corso di</strong>
<h3 id="teacher-course-name"><%= @teacher.course_name.upcase %></h3>

<%= @teacher.curriculum %>

<div class='buttons'>
  <%= link_to 'Modifica', :action => 'edit', :id => @teacher %> |
  <%= link_to 'Torna alla lista', :action => 'index' %>
</div>
