<h1>Nuovo Manoscritto o Tesi di Laurea</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Crea" %>
<% end %>

<%= link_to 'Indietro', :action => 'index' %>
