<% @page_title = @content.title %>
<h2><%= @content.title %></h2>
<div id='the-verbose-content'>
  <%= image_tag(@content.image1, :size => "398x295") if @content.image1 %>
  <%= @content.body %>
</div>
<%= link_to 'edit', :action => 'edit', :id => @content if authorized? %>
