<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Accademia dei Filodrammatici<% if @page_title %> &mdash; <%= @page_title %><% end %></title>  
  <%= stylesheet_link_tag "filo" %>
</head>
<body>
  <%= yield %>
</body>
</html>