<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Accademia dei Filodrammatici<% if @page_title %> &mdash; <%= @page_title %><% end %></title>  

  <%= stylesheet_link_tag "filo" %>

  <meta name="description" content="L'Accademia dei Filodrammatici di Milano è la più antica scuola di teatro italiana. Informazioni sull'offerta formativa, sul concorso e data base degli attori diplomati.">
  <meta name="keywords" content="Accademia dei Filodrammatici, accademia teatro milano, scuola recitazione milano">

  <% # Include TinyMCE before other JS to avoid problems -%>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
</head>

<body>
  <div id="page" align='center'>
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td id='head' colspan='2'><a href="/"><%= image_tag 'logo.gif', :alt => 'home' %></a></td>
      </tr>
      <tr>
        <td id='navigation' valign='top'> 
          <ul>
            <li><%= link_to_unless_current 'La scuola', 
                    :controller => 'content', :action => 'page', :name => 'la-scuola' %></li>
            <li><%= link_to_unless_current 'Profilo storico', 
                    :controller => 'content', :action => 'page', :name => 'profilo-storico' %></li>
              <ul>
                <li><%= link_to_unless_current 'Carlo Porta', 
                         :controller => 'content', :action => 'page', :name => 'carlo-porta' %></li>
                <li><%= link_to_unless_current 'Giuseppe Verdi', 
                         :controller => 'content', :action => 'page', :name => 'giuseppe-verdi' %></li>
                <li><%= link_to_unless_current 'Ugo Foscolo', 
                         :controller => 'content', :action => 'page', :name => 'ugo-foscolo' %></li>
              </ul>
                <li><%= link_to_unless_current 'Offerta formativa', 
                        :controller => 'content', :action => 'page', :name => 'offerta-formativa' %></li>
                <li><%= link_to_unless_current 'Corpo docente', 
                        :controller => 'content', :action => 'page', :name => 'xxx' %></li>
                <li><%= link_to_unless_current 'Spazio diplomati', 
                        :controller => 'graduates', :action => 'index' %></li>
              <ul>
                <li><%= link_to_unless_current 'Elenco alfabetico', 
                         :controller => 'content', :action => 'page', :name => 'xxx' %></li>
                <li><%= link_to_unless_current 'Elenco cronologico', 
                         :controller => 'content', :action => 'page', :name => 'xxx' %></li>
              </ul>                                     
               
            <li><%= link_to_unless_current 'Progetto GEIE', 
                    :controller => 'content', :action => 'page', :name => 'progetto-geie' %></li>
                    
            <li><%= link_to_unless_current 'Bando 2007', 
                    :controller => 'content', :action => 'page', :name => 'bando-2007' %></li>
          </ul>
        </td>
        <td id='content' valign='top'><%= yield %></td>      
      </tr>
      <tr>
        <td id='foot' colspan='2'>
          &copy; 2005-6 Accademia dei Filodrammatici 
          | <%= link_to 'crediti', :controller => 'content', :action => 'page', :name => 'crediti' %>
          | <a href='http://validator.w3.org/check/referer'>valida</a>
        </td>
      </tr>
    </table>    
  </div>
</body>
</html>