<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <META HTTP-EQUIV="Content-Language" CONTENT="it">

  <title>Accademia dei Filodrammatici</title>
  <link rel="stylesheet" href="/stylesheets/mediacompass.css" type="text/css">
</head>

<body bgcolor="#FFFFFF" text="#333333" link="#333333" vlink="#333333" alink="#333333" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('./photos/foto_home_8_2_i.jpg','./photos/foto_home_1_2_i.jpg','./photos/foto_home_3_2_i.jpg','./photos/foto_home_4_2_i.jpg','./photos/foto_home_9_2_i.jpg','./photos/foto_home_2_2_i.jpg','./photos/foto_home_5_2_i.jpg','./photos/foto_sez_17_2_i.jpg')"  >
<table width="900" border="0" cellpadding="0" cellspacing="0">
<tr>
<td ><img src="/images/mc/0_pixel.gif" width="50" height="1"></td>
<td ><img src="/images/mc/0_pixel.gif" width="200" height="10"></td>
<td width="0%"></td>
<td width="100%"></td>
</tr>
<tr>

<td align="right" valign="bottom" ></td>
<td valign="bottom" ><img src="/images/mc/0_pixel.gif" width="1" height="20"></td>
<td colspan="2" align="left" valign="bottom">
<!-- MenuBox -->
<table border="0" cellspacing="0" cellpadding="0" align="left">
<tr>
<td><img src="/images/mc/0_pixel.gif" width="25" height="1"></td>
<td >
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="100" height="25" valign="bottom" ><a href="http://www.accademiadeifilodrammatici.it/home.php?lang=ita&amp;id_home=1" title="Vai a L'Accademia" ><img name="home1" border="0" src="/images/mc/accademia.gif" width="100" height="25"></a></td>
</tr>
</table>
</td>
<td><img src="/images/mc/0_pixel.gif" width="25" height="1"></td>
<td >
<table border="0" cellpadding="0" cellspacing="0">

<tr>
<td width="100" height="25" valign="bottom" ><a href="http://www.accademiadeifilodrammatici.it/home.php?lang=ita&amp;id_home=3" title="Vai a La scuola" ><img name="home2" border="0" src="/images/mc/scuola.gif" width="100" height="25"></a></td>
</tr>
</table>
</td>
<td><img src="/images/mc/0_pixel.gif" width="25" height="1"></td>
<td >
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="100" height="25" valign="bottom" ><a href="http://www.accademiadeifilodrammatici.it/home.php?lang=ita&amp;id_home=4" title="Vai a Le ammissioni" ><img name="home3" border="0" src="/images/mc/ammissioni.gif" width="100" height="25"></a></td>
</tr>
</table>
</td>
<td><img src="/images/mc/0_pixel.gif" width="25" height="1"></td>
<td >
<table border="0" cellpadding="0" cellspacing="0">
<tr>

<td width="100" height="25" valign="bottom" ><a href="http://www.accademiadeifilodrammatici.it/home.php?lang=ita&amp;id_home=9" title="Vai a Le notizie" ><img name="home4" border="0" src="/images/mc/notizie.gif" width="100" height="25"></a></td>
</tr>
</table>
</td>
<td><img src="/images/mc/0_pixel.gif" width="25" height="1"></td>
<td >
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="100" height="25" valign="bottom" ><a href="http://www.accademiadeifilodrammatici.it/home.php?lang=ita&amp;id_home=2" title="Vai a La biblioteca" ><img name="home5" border="0" src="/images/mc/biblioteca.gif" width="100" height="25"></a></td>
</tr>
</table>
</td>
<td><img src="/images/mc/0_pixel.gif" width="25" height="1"></td>
<td >
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="100" height="25" valign="bottom" ><a href="http://www.accademiadeifilodrammatici.it/home.php?lang=ita&amp;id_home=5" title="Vai a I diplomati" ><img name="home6" border="0" src="/images/mc/diplomati.gif" width="100" height="25"></a></td>

</tr>
</table>
</td>
</tr>
</table><!-- MenuBox END-->
</td>
</tr>
<tr>
<td colspan="4" bgcolor="#FFFFFF"><img src="/images/mc/0_pixel.gif" width="1" height="1"></td>
</tr>
<tr bgcolor="#FFFFFF" >
<!-- Banner SX -->
<td colspan="2" align="right" valign="middle" onMouseUp="document.location='index.php'" ><a href="index.php"><img src="/images/logo-white.png" width="150" height="100" border="0"></a></td>
<!-- Banner SX END-->
<!-- Banner DX  -->
<td colspan="2" bgcolor="#FFFFFF" align="left" valign="bottom" width="750" height="100" onMouseUp="document.location='index.php'" ><a href="index.php"><img src="/images/mc/logoscritta.jpg" border="0"></a>
<!-- Banner DX END-->
</td>
</tr>
<tr>
<td colspan="4" bgcolor="#9B9B9B"><img src="/images/mc/0_pixel.gif" width="1" height="1"></td>
</tr>
<tr>
<td align="center" background="img/ombra.jpg" ><img src="/images/mc/0_pixel.gif" width="1" height="10"></td>
<td align="right" valign="top" bgcolor="#20acda" >
<!-- Menu-news -->
<!-- Menu-news END-->
</td>
<td align="center" background="img/ombra.jpg" ><img src="/images/mc/0_pixel.gif" width="25" height="1"></td>
<td width="100%" align="center" background="img/ombra.jpg" ><img src="/images/mc/0_pixel.gif" width="1" height="10"></td>
</tr>

<tr>
<td align="right" valign="top" ><img src="/images/mc/0_pixel.gif" width="1" height="230"></td>
<td align="right" valign="top" bgcolor="#20acda" ><table width="100%" border="0" cellspacing="0" cellpadding="0" align="right" >
<tr>
<td height="240" ><img src="/images/mc/0_pixel.gif" width="1" height="1" ></td>
<td align="right" valign="top" >
<!-- Menu sez List -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
<tr>
<td><img src="/images/mc/0_pixel.gif" width="1" height="8" ></td>
</tr>
<tr>
<td align="right" class="menubianco" ><a href="http://www.accademiadeifilodrammatici.it/home.php?lang=ita&amp;id_home=2" class="menubianco"   title="Vai a La biblioteca" >LA BIBLIOTECA</a></td>
</tr>
<tr>

<td align="center" ><img src="/images/mc/0_pixel.gif" width="1" height="1"></td>
</tr>
<tr bgcolor="#20acda" >
<td align="right" valign="top" class="menubianco" onMouseOver="this.style.BgColor='#3db9e2'" onMouseOut="this.style.borderLeftColor='#20acda'" ><br /><a href="http://www.accademiadeifilodrammatici.it/home.php?lang=ita&amp;id_home=2&amp;id_sez=17" title="Vai a Libri sfogliabili" class="menubianco" >LIBRI SFOGLIABILI</a></td>
</tr>
<tr>
<td align="center"><img src="/images/mc/0_pixel.gif" width="1" height="2"></td>
</tr>
</table>
<!-- Menu sez List END-->
</td>
<td><img src="/images/mc/0_pixel.gif" width="1" height="1" ></td>
</tr>
<tr>
<td colspan="3" ><img src="/images/mc/0_pixel.gif" width="1" height="50" ></td>
</tr>
</table></td>
<td ></td>
<td align="left" valign="top" background="" >
  <%= yield %>
</td>
<td><img src="/images/mc/0_pixel.gif" width="10" height="1"></td>
<td bgcolor="#20acda" ><img src="/images/mc/0_pixel.gif" width="1" height="1"></td>
<td><img src="/images/mc/0_pixel.gif" width="10" height="1"></td>
<td valign="top" >
</td>
</tr>
<tr>
<td colspan="5" ><img src="/images/mc/0_pixel.gif" width="1" height="15"></td>
</tr>
</table><!-- Main END-->
</td>
</tr>
<tr>
  <td align="right" valign="top" ></td>
  <td align="right" valign="top" bgcolor="#20acda" >&nbsp;</td>
  <td colspan="2" align="left" valign="bottom" class="menubianco">
<table width="100%" border="0" cellpadding="1" cellspacing="0" bgcolor="#afaeae">
<tr>
<td ><img src="/images/mc/0_pixel.gif" width="5" height="1" ></td>
<td width="100%" nowrap class="footer" >&copy;2007&nbsp;Accademia dei Filodrammatici - Via Filodrammatici 1 - 20121 Milano - Tel. 02.86460849 - Fax 02.86910551</td>
</tr>

</table>
</td>
</tr>
</table>
</body>
</html>
